# Deployment mode: SingleBinary (simple), SimpleScalable (medium), Distributed (large)
deploymentMode: SingleBinary

# Number of replicas
singleBinary:
  replicas: 1

# Component replicas
write:
  replicas: 0
read:
  replicas: 0
backend:
  replicas: 0

# Caching
chunksCache:
  enabled: false
resultsCache:
  enabled: false

# Helm test
test:
  enabled: false

# All loki settings combined under one key
loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  storage:
    type: filesystem
    filesystem:
      directory: /var/loki/chunks
  useTestSchema: true

volumeMounts:
  - name: loki-data
    mountPath: /var/loki
volumes:
  - name: loki-data
    emptyDir: {}   # or pvc
securityContext:
  runAsNonRoot: true
  runAsUser: 10001
  runAsGroup: 10001
  fsGroup: 10001

initContainers:
- name: fix-perms
  image: busybox:1.36
  command: ["sh","-c","mkdir -p /var/loki/rules && chown -R 10001:10001 /var/loki"]
  volumeMounts:
  - name: loki-data
    mountPath: /var/loki