# No PSP (removed in K8s 1.25) or SCC (OpenShift-only); skip chart RBAC and use default SA
rbac:
  create: false

ruler:
  enabled: false

loki:
  storage:
    type: s3
    bucketNames:
      chunks: loki-chunks
      ruler: loki-ruler
      admin: loki-admin
    s3:
      endpoint: http://minio.monitoring.svc.cluster.local:9000
      accessKeyId: loki
      secretAccessKey: loki12345
      s3ForcePathStyle: true
      insecure: true