{{ define "slack.default.title" }}
[{{ .Status | toUpper }}{{ if .Status | eq "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ .CommonLabels.alertname }}
{{ end }}

{{ define "slack.default.text" }}
{{ range .Alerts }}
*Alert:* {{ .Annotations.summary }}
*Description:* {{ .Annotations.description }}
*Details:*
  {{ range .Labels.SortedPairs }}• *{{ .Name }}:* `{{ .Value }}`
  {{ end }}
{{ end }}
{{ end }}
